<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        © Team Fuego, 2017
    </a>
    <a class="navbar-brand" href="https://github.com/canderson22/dashly" target="_blank">Github</a>
</nav>