<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <a class="navbar-brand" href="#!">
        <small>© Team Fuego, 2017</small>
        <small><a href="https://github.com/canderson22/dashly">GitHub</a></small>
    </a>
</nav>