<!-- JUMBOTRON -->
<div class="jumbotron">
    <h1 class="display-3">Dashly</h1>
    <hr class="my-2 bg-dark">
    <p>Your very own personalized dashboard with your favoirte interests</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
    </p>
  </div>
