<!-- JUMBOTRON -->
<div class="jumbotron">
    <h1 class="display-3">Dashly</h1>
    <p class="lead">Headline</p>
    <hr class="my-4">
    <p>Sub Headline</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
    </p>
  </div>
