<div class="jumbotron">
    <form action="/login" method="post">
        <label for="">email</label>
        <input type="email" name="email" class="form-control">
        <label for="">password</label>
        <input type="password" name="password" class="form-control">
        <button type="submit" class="btn btn-success">Log In</button>
    </form>
</div>