<div class="jumbotron text-white">
  <h3 class="">Sign Up</h3>
  <form action="/signup" method="POST">
    <% if(message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
        
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
      <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <hr class="hr-2 bg-dark">
    <div class="form-group">
      <label for="">Favorite Music Artist</label>
      <input type="text" class="form-control" name="artistName" id="">
    </div>
    <div class="form-group">
      <!-- <label for="">Favorite Football Team</label> -->
      <!-- <input type="text" class="form-control" name="footballTeam" id="">  -->
      <label for="exampleFormControlSelect1">Favorite Football Team</label>
      <select class="form-control" id="exampleFormControlSelect1" name="footballTeam">
        <option>Arizona Cardinals</option>
        <option>Atlanta Falcons</option>
        <option>Baltimore Ravens</option>
        <option>Buffalo Bills</option>
        <option>Carolina Panthers</option>
        <option>Chicago Bears</option>
        <option>Cincinnati Bengals</option>
        <option>Cleveland Browns</option>
        <option>Dallas Cowboys</option>
        <option>Denver Broncos</option>
        <option>Detroit Lions</option>
        <option>Green Bay Packers</option>
        <option>Houston Texans</option>
        <option>Indianapolis Colts</option>
        <option>Jacksonville Jaguars</option>
        <option>Kansas City Chiefs</option>
        <option>Los Angeles Chargers</option>
        <option>Los Angeles Rams</option>
        <option>Miami Dolphins</option>
        <option>Minnesota Vikings</option>
        <option>New England Patriots</option>
        <option>New Orleans Saints</option>
        <option>New York Giants</option>
        <option>New York Jets</option>
        <option>Oakland Raiders</option>
        <option>Philadelphia Eagles</option>
        <option>Pittsburgh Steelers</option>
        <option>San Francisco 49ers</option>
        <option>Seattle Seahawks</option>
        <option>Tampa Bay Buccaneers</option>
        <option>Tennessee Titans</option>
        <option>Washington Redskins</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Favorite Actor</label>
      <input type="text" class="form-control" name="actorName" id="">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>