body {
    background: url('../pictures/black-board.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.video-container {
    border-left: 1px solid #007bff;
    margin: 0 auto;
}

.card {
    background: rgba(0, 0, 0, 0.8);
}

.media-row {
    margin-top:3%;
    border-top:1px solid #007bff;
}

#accordion {
    margin-top: 4%;
}

.jumbotron {
    background: rgba(255, 255, 255, 0.3);
    margin-top: 4%;
    text-align: center;
}
small {
    color: black;
}

.album-image {
    width: 200px;
    height: 200px;
    margin-left: 3%;
}

.badge-light {
    font-size: large;
}

