<h1><%= user.name %></h1>
<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Music
          </a>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <!-- insert charles part -->
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Sports
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          <!-- sports content -->
           <!-- favorite team image -->
          Your favorite NFL team the Atlanta Falcons
          <img src="CBS.jpeg" alt="">
          <div id="sports"></div> <!-- API response - next game -->
          <ul id="gameInfo">
          </ul> <!-- API response - game info -->
          <div id="sportsSearch"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Movies
          </a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          <!-- insert ryan -->
        </div>
      </div>
    </div>
  </div>

  <script>
    console.log('hello')
      var $sports = $('#sports')
      var $gameInfo = $('#gameInfo')

      $.ajax({url: '/sports', method: 'get'})
      .done(function(res){
      // console.log(res.week.games[2].home.alias) test
       // console.log("server says:", res) test
          //who the game is against
          var theLi = $('<p>').text(`Their next game is against: ${res.week.games[0].home.name}`)
          $sports.append(theLi)
          //when's the game
          var gameDay = $('<li>').text(`Game is at: ${res.week.games[0].scheduled}`)
          $gameInfo.append(gameDay)
          //channel game will be on 
          var channel = $('<li>').text(`Watch on channel: ${res.week.games[0].broadcast.network}`)
          $gameInfo.append(channel)
          //ADD dropdown of favorite team 
            //ADD logic to determine opponent, gametime, & channel of favorite team's game based off drop down menu selection
          
    })

      
  </script>


  