<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card text-white">
      <div class="card-header bg-dark" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Music
          </a>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
            <% include ../user/music %>
        </div>
      </div>
    </div>
    <div class="card text-white">
      <div class="card-header bg-dark" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Sports
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block"></div>
        <% include ../user/sports %>
        </div>
      </div>
      <div class="card bg-dark text-white">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Movies
            </a>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-block">
            <!-- <% include ../user/movieParse %> -->
          </div>
        </div>
      </div>
    </div>
  </div>



 