<div class="container">
    <h1 class="text-center">Music from your fav artist</h1>
    <hr class="bg-primary">
    <div class="container">
        <div class="row">
            <div id="cover-art" class="col-md-3">
                
            </div>
            <div id="music-info" class="col-md-9 text-center">

            </div>
        </div>
    </div>
</div>

   

