
Your favorite NFL team the Atlanta Falcons

<div id="sports"></div> <!-- API response - next game -->
<ul id="gameInfo">
</ul> <!-- API response - game info -->
<div id="sportsSearch"></div>


<script>
    console.log('sports script connected')
      var $sports = $('#sports')
      var $gameInfo = $('#gameInfo')

      $.ajax({url: '/sports', method: 'get'})
      .done(function(res){
      // console.log(res.week.games[2].home.alias) test
       // console.log("server says:", res) test
          //who the game is against
          var theLi = $('<p>').text(`Their next game is against: ${res.week.games[0].home.name}`)
          $sports.append(theLi)
          //when's the game
          var gameDay = $('<li>').text(`Game is at: ${res.week.games[0].scheduled}`)
          $gameInfo.append(gameDay)
          //channel game will be on 
          var channel = $('<li>').text(`Watch on channel: ${res.week.games[0].broadcast.network}`)
          $gameInfo.append(channel)

          if(res.week.games[0].broadcast.network === 'CBS'){
            var pic = $('<li>').text(`it works`)
            $gameInfo.append(pic);
          }
          
          //ADD dropdown of favorite team 
            //ADD logic to determine opponent, gametime, & channel of favorite team's game based off drop down menu selection

          
    })

  </script>