<div class="jumbotron text-white">
    <h3 class="">Edit Profile</h3>
    <span id="error"></span>
    <form id="form" action="/editUser" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name">
            <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
        </div>
        <!-- <div class="form-group">
            <label for="exampleInputPassword1">New Password</label>
            <input type="password" name="newPassword" class="form-control" id="exampleInputPassword1" placeholder="New Password">
        </div> -->
        <hr class="hr-2 bg-dark">
        <div class="form-group">
            <!-- text input for favorite music artist -->
            <label for="">Favorite Music Artist</label>
            <input type="text" class="form-control" name="artistName" placeholder="artistName">
        </div>
        <div class="form-group">
            <!-- select favorite football team -->
            <label for="">Favorite Football Team</label>
            <label for="exampleFormControlSelect1">Favorite Football Team</label>
            <select class="form-control" id="exampleFormControlSelect1" name="footballTeam">
            <!-- Options for Football Team -->
                <option>Arizona Cardinals</option>
                <option>Atlanta Falcons</option>
                <option>Baltimore Ravens</option>
                <option>Buffalo Bills</option>
                <option>Carolina Panthers</option>
                <option>Chicago Bears</option>
                <option>Cincinnati Bengals</option>
                <option>Cleveland Browns</option>
                <option>Dallas Cowboys</option>
                <option>Denver Broncos</option>
                <option>Detroit Lions</option>
                <option>Green Bay Packers</option>
                <option>Houston Texans</option>
                <option>Indianapolis Colts</option>
                <option>Jacksonville Jaguars</option>
                <option>Kansas City Chiefs</option>
                <option>Los Angeles Chargers</option>
                <option>Los Angeles Rams</option>
                <option>Miami Dolphins</option>
                <option>Minnesota Vikings</option>
                <option>New England Patriots</option>
                <option>New Orleans Saints</option>
                <option>New York Giants</option>
                <option>New York Jets</option>
                <option>Oakland Raiders</option>
                <option>Philadelphia Eagles</option>
                <option>Pittsburgh Steelers</option>
                <option>San Francisco 49ers</option>
                <option>Seattle Seahawks</option>
                <option>Tampa Bay Buccaneers</option>
                <option>Tennessee Titans</option>
                <option>Washington Redskins</option>
            </select>
        </div>

        <div class="form-group">
            <!-- text input for favorite actor -->
            <label for="">Favorite Actor</label>
            <input type="text" class="form-control" name="actorName" placeholder="actor name">
        </div>

        <!-- <div class="form-group">
            <label for="">Verify Password</label>
            <input type="password" name="password" class="form-control">
        </div> -->
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr class="bg-danger">
    <button type="submit" id="deleteBtn">Delete</button>
</div>

<script>
//this gets the user information
    let user = <%- JSON.stringify(user) %>;
//Submit button functionality
    $('form').on('submit', function(e){
        e.preventDefault()
        var values = {};
        //serialize the values for use
        $.each($(this).serializeArray(), function(){ values[this.name] = this.value; })
        //the data needs to be restructured into a model that matches the user schema
        //each piece of data is assigned based on existance
        //if nothing was entered, the old value is inserted
        var data = {
            name: values['name'] || user.name,
            password: values['newPassword'] || values['password'],
            verifyPassword: values['password'],
            topics: [
            {
                artistName: values['artistName'] || user.topics[0].artistName,
                footballTeam: values['footballTeam'] || user.topics[0].footballTeam,
                actorName: values['actorName'] || user.topics[0].actorName
            }]
        }
        $.ajax({
            url: '/',
            method: 'patch',
            data: JSON.stringify(data),
            contentType: 'application/json'
        })
        .done(function(res){
            console.log(res)
            //if the update was successfull, redirect to the dash
            if (res.success) window.location = '/dashboard'
            //otherwise, alert the user and refresh the page
            if (!res.success){
                alert('Invalid password')
                window.location = '/editUser'

            }     
        })
    })
    
//Delete Button Funtionality
    $('#deleteBtn').on('click', function(e){
        $.ajax({
            url: '/',
            method: 'delete'
        })
        .done(function (res) {
            //redirect to home on deletion
            window.location.href = '/'
        })
    })
</script>